<div class="pb-2">
  <h2>π”λ¬Έκµ¬ κ²€μ‚¬κΈ°</h2>
  <h4>μ¬λ°”λ¥Έ κ³µμ •μ„ λ¬Έκµ¬μΈμ§€ ν™•μΈν•΄λ³΄μ„Έμ”.</h4>
</div>

<div>
  <!-- input & button λ„£κΈ° -->
  <%- include('./div-st-search.ejs'); %>
</div>
<!-- κ²€μƒ‰κ²°κ³Ό μ°½-->
<div class="py-3 px-2 mt-2 mb-5 border">
  <h4 class="mt-2 px-1">β <%= searchTerm %> β κ²€μƒ‰κ²°κ³Ό</h4>
  <div class="alert alert-warning" role="alert">
    <div class="p-1">
      β– λ” λ§μ€ κ³µμ •μ„λ¬Έκµ¬λ”
      <a href="/sponsoredtag/dictionary">λ‹¨μ–΄μ‚¬μ „</a>μ—μ„ ν™•μΈν•μ„Έμ”.
    </div>
    <div class="p-1">
      β– μ–΄λ””μ— μ–΄λ–»κ² μ¨μ•Όν• μ§€ λ¨λ¥΄κ² λ‹¤λ©΄? <br />
      <a href="/sponsoredtag/recommendation">π‘‰μƒν™©λ³„ μ¶”μ²λ¬Έκµ¬</a>μ—μ„
      μ¶”μ²ν•΄λ“λ¦½λ‹λ‹¤.
    </div>
  </div>
  <!-- κ²€μƒ‰λ¦¬μ¤νΈ -->
  <div class="text-center">
    <div class="list-h row-flexible pt-3 br-t-8 bg-gray">
      <div class="f-10">
        <p><b>no</b></p>
      </div>
      <div class="f-30">
        <p><b>λ‹¨μ–΄</b></p>
      </div>
      <div class="f-30">
        <p><b>μ‚¬μ©κ°€λ¶€</b></p>
      </div>
      <div class="f-30">
        <p><b>μμ„Έν</b></p>
      </div>
    </div>
    <% if ( filteredKeywords == '') { %>
    <div class="p-3 box-shadow br-b-8">
      <p>π›‘κ²€μƒ‰κ²°κ³Όκ°€ μ—†μµλ‹λ‹¤.</p>
      <a href="/sponsoredtag/dictionary">π‘‰λ‹¨μ–΄μ‚¬μ „μ—μ„ ν™•μΈν•κΈ°</a>
    </div>
    <% } else {%> <% for (let i = 0; i < filteredKeywords.length; i++) { %>
    <div class="list-d br-t-8 row-flexible box-shadow">
      <div class="pt-3 f-10"><p><%=i+1%></p></div>
      <div class="pt-3 f-30"><p><%=filteredKeywords[i].keyword%></p></div>
      <div class="pt-3 f-30"><p><%=filteredKeywords[i].usageStatus%></p></div>
      <div class="f-30">
        <button
          type="button"
          class="btn btn-outline-primary st-keyword-detail-toggle"
        >
          μμ„Έν
        </button>
      </div>
    </div>
    <div class="list-detail br-b-8 hide bg-blue25 box-shadow">
      <div class="row-flexible thin-underline text-start">
        <div class="f-30">β—Ό ν‚¤μ›λ“</div>
        <div class="f-70"><%=filteredKeywords[i].keyword%></div>
      </div>
      <div class="row-flexible thin-underline text-start">
        <div class="f-30">β—Ό μ‚¬μ© μμ‹</div>
        <div class="f-70">
          <%=filteredKeywords[i].exampleWord%>
          <br /><%=filteredKeywords[i].exampleSentence%> <br /><a
            href="/sponsoredtag/recommendation"
            >π‘‰μ¬λ°”λ¥Έ μ‚¬μ©μμ‹ μ‚¬μ§„ λ³΄λ¬κ°€κΈ°</a
          >
        </div>
      </div>
      <div class="row-flexible thin-underline text-start">
        <div class="f-30">β—Ό μ‚¬μ© μ ν•</div>
        <div class="f-70"><%=filteredKeywords[i].usageDescription%></div>
      </div>
      <div class="row-flexible thin-underline text-start">
        <div class="f-30">β—Ό μ ν• μ‚¬μ </div>
        <div class="f-70"><%=filteredKeywords[i].usageRestrictionReason%></div>
      </div>
      <div class="row-flexible thin-underline text-start">
        <div class="f-30">β—Ό ν•΄κ²° λ°©λ²•</div>
        <div class="f-70"><%=filteredKeywords[i].solution%></div>
      </div>
      <div class="row-flexible thin-underline text-start">
        <div class="f-30">β—Ό μ£Όμμ‚¬ν•­</div>
        <div class="f-70"><%=filteredKeywords[i].cautionNotice%></div>
      </div>
      <div class="row-flexible text-start">
        <div class="f-30">β—Ό κ΄€λ ¨μ΄μ</div>
        <div class="f-70"><%=filteredKeywords[i].usageIssueUrl%></div>
      </div>
    </div>
    <% } %> <% } %>
  </div>
</div>

<script src="/js/stSearchClick.js"></script>
<script src="/js/st-keyword.js"></script>
