<div class="pb-2">
  <h2 class="px-3">π“–κ³µμ •μ„λ¬Έκµ¬ λ‹¨μ–΄μ‚¬μ „</h2>
  <h4 class="px-3">β Ctrl+F β λ¥Ό λλ¬ μ‰½κ² μ°Ύμ„ μ μμµλ‹λ‹¤.</h4>
</div>

<div class="px-3 text-center">
  <div class="list-h row-flexible thick-underline">
    <div class="f-10"><p>no</p></div>
    <div class="f-30"><p>λ‹¨μ–΄</p></div>
    <div class="f-30"><p>μ‚¬μ©κ°€λ¶€</p></div>
    <div class="f-30"><p>μμ„Έν</p></div>
  </div>
  <% for (let i = 0; i < result_obj.length; i++) { %>
  <div class="list-d row-flexible thin-underline">
    <div class="pt-3 f-10"><p><%=result_obj[i].number%></p></div>
    <div class="pt-3 f-30"><p><%=result_obj[i].keyword%></p></div>
    <div class="pt-3 f-30"><p><%=result_obj[i].usageStatus%></p></div>
    <div class="f-30">
      <button
        type="button"
        class="btn btn-outline-success st-keyword-detail-toggle"
      >
        μμ„Έν
      </button>
    </div>
  </div>
  <div class="list-detail hide bg-yellowgreen">
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό ν‚¤μ›λ“</div>
      <div class="f-70"><%=result_obj[i].keyword%></div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μμ‹</div>
      <div class="f-70">
        <%=result_obj[i].exampleWord%>
        <br /><%=result_obj[i].exampleSentence%>
      </div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μ ν•</div>
      <div class="f-70"><%=result_obj[i].usageDescription%></div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ ν• μ‚¬μ </div>
      <div class="f-70"><%=result_obj[i].usageRestrictionReason%></div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό ν•΄κ²° λ°©λ²•</div>
      <div class="f-70"><%=result_obj[i].solution%></div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ£Όμμ‚¬ν•­</div>
      <div class="f-70"><%=result_obj[i].cautionNotice%></div>
    </div>
    <div class="row-flexible thick-underline text-start">
      <div class="f-30">β—Ό κ΄€λ ¨μ΄μ</div>
      <div class="f-70"><%=result_obj[i].usageIssueUrl%></div>
    </div>
  </div>
  <% } %>
</div>
<script src="/js/st-keyword.js"></script>
<script src="/js/readCSVfile.js"></script>
